{%extends "leave/admin/admin_base.html"%}
{%block body%}



<div class="card border-primary mb-3">
    <div class="card-header text-center">Employees on leave today</div>
    <div class="card-body">
      
        
         {%if success%}
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">No leave</h4>
          <p>No employee should be on leave today </p>
          <hr>
          
        </div>
        {%endif%}
      
      
      
      
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Action</th>
            <th scope="col">Employee</th>
            <th scope="col">leave_type</th>
            <th scope="col">reason</th>
            <th scope="col">duration</th>
            <th scope="col">start_date</th>
            <th scope="col">end_date</th>
            <th scope="col">Person covering</th>
            <th scope="col">status</th>
          </tr>
        </thead>
        <tbody>
          {% for leave in leaves %}
          <tr class="table-primary">
            <td>
              
                

              
        
              
            </td>
            <td>{{leave.user}}</td>
            <td>{{ leave.leave_type }}</td>
            <td>{{ leave.reason }}</td>
            <td>{{ leave.duration }}days</td>
            <td>{{ leave.start_date }}</td>
            <td>{{ leave.end_date }}</td>
            <td>{{ leave.person_covering }}</td>
            <td>{{ leave.status }}</td>

          </tr>
            </td>
          </tr>





            <!-- Delete Modal -->
            <div class="modal" id="delete{{leave.id}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">
                      Leave:{{leave.user}}{{leave.reason}}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to Reject this request</p>
                  </div>
                  <div class="modal-footer">
                    <form action="{%url 'reject' leave.id%}" method="POST">
                      {% csrf_token %}
                      <input type="submit" class="btn btn-primary" value="Yes">
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>


         
    








          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

















{%endblock%}

