{%extends "leave/admin/admin_base.html"%}
{%block body%}



<div class="card border-primary mb-3">
    <div class="card-header text-center">Employees</div>
    <div class="card-body">
      
     
      
      
      
      
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Action</th>
            <th scope="col">id</th>
            <th scope="col">UserName</th>
            <th scope="col">First_Name</th>
            <th scope="col">Last_Name</th>
            
            
            <th scope="col">email</th>
            <th scope="col">Date joined</th>

            <th scope="col">last_login</th>
            
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr class="table-primary">
            <td>
              <a href="{%url 'history' user.id%}"><button type="button" class="btn btn-primary me-1 btn-sm">Leave history<i class="fa-solid fa-pen-to-square"></i></button></a>
              
                

              
        
              
            </td>
            <td>{{user.id}}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}days</td>
            <td>{{ user.email }}</td>
            <td>{{ user.start_date }}</td>
            <td>{{ user.date_joined }}</td>
            
            
          </tr>
            </td>
          </tr>





            <!-- Delete Modal -->
            <div class="modal" id="delete{{leave.id}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">
                      Leave:{{leave.user}}{{leave.reason}}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to Reject this request</p>
                  </div>
                  <div class="modal-footer">
                    <form action="" method="POST">
                      {% csrf_token %}
                      <input type="submit" class="btn btn-primary" value="Yes">
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>


         
    








          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

















{%endblock%}

