{%extends "leave/admin/admin_base.html"%}
{%block body%}

<div class="container-fluid bg-light mb-3">
  <div class="card">
      <div class="card-header">Filters</div>
      <div class="card-body">
          <form action="" method="post" class="row align-items-center justify-content-center">
              {% csrf_token %}
              
            
              
              
              <!-- Department Filter -->
              <div class="col-md-2 pt-3">
                  <div class="form-group">
                      <select id="department" name="department" class="form-control">
                          <option value="" selected>Department</option>
                          <!-- Populate with departments dynamically if needed -->
                      </select>
                  </div>
              </div>
              
              <!-- Branch Filter -->
              <div class="col-md-2 pt-3">
                  <div class="form-group">
                      <select id="branch" name="branch" class="form-control">
                          <option value="" selected>Branch</option>
                          <!-- Populate with branches dynamically if needed -->
                      </select>
                  </div>
              </div>
              
              <!-- Search Button -->
              <div class="col-md-2 pt-3">
                  <button type="submit" class="btn btn-primary btn-block">Search</button>
              </div>
          </form>
      </div>
  </div>
</div>






<div class="card border-primary mb-3">
    <div class="card-header text-center">Leave requests</div>
    <div class="card-body">
      
     
      
      
      
      
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Action</th>
            <th scope="col">Employee</th>
            <th scope="col">leave_type</th>
            <th scope="col">reason</th>
            <th scope="col">duration</th>
            <th scope="col">start_date</th>
            <th scope="col">end_date</th>
            <th scope="col">Person covering</th>
            
            <th scope="col">status</th>
            <th scope="col">Document</th>
          </tr>
        </thead>
        <tbody>
          {% for leave in leaves %}
          <tr class="table-primary">
            <td>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#Accept{{leave.id}}">
                    Accept<i class="fa-solid fa-check"></i>
                  </button>
                

              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{leave.id}}">
                Reject<i class="fa-solid fa-trash-can fa-lg"></i>
              </button>
              <a href="{%url 'history' leave.employee.id%}"><button type="button" class="btn btn-primary me-1 btn-sm">History<i class="fa-solid fa-pen-to-square"></i></button></a>
              
              
            </td>
            <td>{{leave.user}}</td>
            <td>{{ leave.leave_type }}</td>
            <td>{{ leave.reason }}</td>
            <td>{{ leave.duration }}days</td>
            <td>{{ leave.start_date }}</td>
            <td>{{ leave.end_date }}</td>
            <td>{{ leave.person_covering }}</td>
            <td>{{ leave.status }}</td>
            
            <td>
              {% if leave.image %}
                  <a href="{{ leave.image.url }}" target="_blank">
                      <img src="{{ leave.image.url }}" class="img-responsive" style="width: 42px;" />
                  </a>
              {% else %}
                  No image available
              {% endif %}
          </td>
          

          </tr>
            </td>
          </tr>





            <!-- Reject Modal -->
            <div class="modal" id="delete{{leave.id}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">
                      Leave:{{leave.user}}{{leave.reason}}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to Reject this request</p>
                    <form action="{%url 'reject' leave.id%}" method="POST">
                      {%csrf_token%}
                      
                      <label>Reason for rejection</label>
                      <input class="form-control" type="text" name="reason">

                      <input type="submit" class="btn btn-danger" value="reject">
                    </form>
                  </div>
                  <div class="modal-footer">
                    
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accept Modal -->
            <div class="modal" id="Accept{{leave.id}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">
                        Leave:{{leave.user}}{{leave.reason}}
                      </h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to Accept this request</p>
                    </div>
                    <div class="modal-footer">
                      <form action="{%url 'accept' leave.id%}" method="POST">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="Yes">
                      </form>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>


         
    








          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

















{%endblock%}

