{% extends "leave/base.html"%}
{%block body%}
  
{%if success%}
<div class="alert alert-dismissible alert-success">Password has changed successfully<a href="">Go to homepage</a> </div>
{%endif%}


<div class="card border-primary mb-3 mx-auto" style="width: 500px;">
    <div class="card-header text-center bg-primary text-white">Change password </div>
    <div class="card-body">
        
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-primary btn-block mt-3">change</button>
        </form>
     
    </div>
</div>

        
{%endblock%}
       