{%extends "leave/base.html"%}

{%block body%}



{%if success%}
<div class="alert alert-dismissible alert-success">Ur leave request has been sent kindly check for feedback<a href="">Go to homepage</a> </div>
{%endif%}
{%if fail%}
<div class="alert alert-dismissible alert-danger">{{fail}}<a href="">Go to homepage</a> </div>
{%endif%}



<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-4">
          <div class="card border-primary mb-3 mx-auto">
              <div class="card-header bg-primary">Available annual leave</div>
              <div class="card-body text-primary">
                  <h5 class="card-title">{{available_annual_leave}}</h5>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card border-secondary mb-3 mx-auto">
              <div class="card-header bg-success">Available sick days</div>
              <div class="card-body text-secondary">
                  <h5 class="card-title">{{available_sick_leave}}</h5>
              </div>
          </div>
      </div>
  </div>
</div>




<div class="container d-flex justify-content-center mt-5">
    <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-white">Apply for leave</div>
        <div class="card-body">
            <form action="" id="apply" method="post" enctype="multipart/form-data">  <!-- enctype is important -->
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-block mt-3">Apply</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#myForm").on("submit", function(event){
            event.preventDefault();  // Prevent default form submission

            // Create FormData object
            var formData = new FormData(this);

            $.ajax({
                url: $(this).attr('http://127.0.1/api/apply'),  // The URL defined in the form action
                type: $(this).attr('method'),  // The method defined in the form (POST in this case)
                data: formData,  // Send the form data
                processData: false,  // Important for sending FormData
                contentType: false,  // Important for sending FormData
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");  // Include the CSRF token
                },
                success: function(response){
                    // Handle success (e.g., show a success message)
                    alert("Form submitted successfully!");
                },
                error: function(xhr, status, error){
                    // Handle error (e.g., show an error message)
                    alert("An error occurred. Please try again.");
                }
            });
        });
    });
</script>


{%endblock%}